# Default owner for everything in the repo.
* @xeho91

# Include everything in the repo - from the project root, EXCEPT...
!/client/ @lax0248917
!/server/ @mariushilleke

# Include directories - from the project root
/client/ @mariushilleke
/server/ @lax0248917
