# Default owner for everything in the repo.
* @terminal-nerds/project-managers

# Specific team designations for front-end and back-end code.
client/ @terminal-nerds/front-end
server/ @terminal-nerds/back-end
helpers/ @terminal-nerds/front-end @terminal-nerds/back-end
