# https://prettier.io/docs/en/ignore.html#ignoring-files-prettierignore

# ======== DIRECTORIES ========

# Node.js dependencies which can be installed
node_modules/

# ======== FILES ========

# pnpm' lock-file, because it is generated automatically
pnpm-lock.yaml
